:host {
    display: flex;
    width: 0;
    height: 100vh;
    background: #333333;
    overflow-x: hidden;
    transition: width 50ms ease-in-out;
}

:host.expanded {
    width: 70px;
}

.options {
    display: grid;
    margin-top: 70px;
}

.options-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
}

.options-content:hover {
    background-color: #212724;
}

.icon {
    height: 40px;
    width: 40px;
    background-color: #FFFFFF;
    border-radius: 3px;
}
