<ng-container id="popover-tags-edit">
    <div class="title-popover row">
        <button id="list-tags-open" class="btn-clear d-flex align-items-center ps-0" (click)="openListTags.emit()">
            <span id="back-icon" class="material-icons-outlined float-start fs-5 text-color">
                arrow_back
            </span>
            <label id="add-tags-label" class="ps-1 text-color button-label" translate>system.add</label>
        </button>
    </div>
    <hr class="separator"/>
    <common-loading id="loading-tags-edit" [loading]="loading"></common-loading>
    <form *ngIf="!loading" role="form" (ngSubmit)="saveTag()" [formGroup]="editForm">
        <div class="form-group required col-sm-12 m-0 px-3 pt-2 d-flex">
            <div>
                <label id="common-name" class="control-label col-sm-12 no-padding" translate>common.name</label>
                <input id="input-module-name" type="text" class="form-control col-sm-10" formControlName="name"
                       [ngClass]="hasError(editForm.controls.name)">
            </div>
            <button id="change-color-btn" [style.color]="color" [colorPicker]="color" type="button"
                    (colorPickerChange)="changeColor($event)"
                    class="btn-clear btn-color col-sm-2 d-flex align-items-end">
                <i id="set-color-icon" class="material-icons fs-2 pb-1"> palette </i>
            </button>
        </div>
        <div class="px-3 pb-3">
            <common-control-message id="name-control-message" [control]="editForm.get('name')"></common-control-message>
        </div>
        <div class="row float-end pe-3 pb-3">
            <button id="submit-btn" class="btn btn-sm btn-primary" [disabled]="editForm.invalid"
                    translate>system.save
            </button>
        </div>
    </form>
</ng-container>
