.material-icons {
    font-size: 18px;
}

.separator {
    margin-top: 5px;
    margin-bottom: 15px;
}

.save-color-button {
    margin-right: 21px;
    margin-bottom: 21px;
}

.btn-edit, .btn-remove {
    margin-bottom: 16px;
    cursor: pointer;
}

.btn-color {
    font-size: 26px;
    padding-right: 0px;
    text-align: right;
}

.input-group-text {
    background: #FFFFFF;
    border: 1px solid #EAEAF3;
    border-radius: 0px 4px 4px 0px;
    opacity: 1;
}

.tag-button {
    border: none;
    background: white;
}
