<div [ngClass]="setCardHeight()">
    <ul class="nav">
        <li id="personal-data" class="nav-item p-2" [ngClass]="{'active': tab === 'people'}" (click)="tab = 'people'">
            <a translate>people.personal-data</a>
        </li>
        <li id="access-data" class="nav-item p-2" [ngClass]="{'active': tab === 'user'}" (click)="tab = 'user'">
            <a translate>people.access-data</a>
        </li>
    </ul>
    <div class="card custom-card">
        <common-loading [loading]="loading"></common-loading>
        <div class="card-body" *ngIf="!loading">
            <form class="h-100" role="form" (ngSubmit)="onSubmit()" [formGroup]="editForm">
                <div class="content-form" [ngClass]="{'d-none': tab !== 'people'}">
                    <div class="row mb-1">
                        <div class="form-group required col-sm-12 col-md-4">
                            <label id="name-label" class="control-label" translate>common.name</label>
                            <input id="name-input" type="text" class="form-control" formControlName="name"
                                   [ngClass]="hasError(editForm.get('name'))">
                            <common-control-message id="people-name-ctrl-msg" [control]="editForm.get('name')"></common-control-message>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label id="nickname-label" class="control-label" translate>common.nickname</label>
                            <input id="nickname-input" type="text" class="form-control" formControlName="nickname"
                                   [ngClass]="hasError(editForm.get('nickname'))">
                            <common-control-message id="people-nick-name-ctrl-msg" [control]="editForm.get('nickname')"></common-control-message>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label id="cpf-label" class="control-label" translate>CPF</label>
                            <input id="cpf-input" type="text" formControlName="governmentCode" class="form-control"
                                   [ngClass]="hasError(editForm.get('governmentCode'))">
                            <common-control-message id="cpf-ctrl-msg" [control]="editForm.get('governmentCode')"></common-control-message>
                        </div>
                    </div>
                    <div id="accordion" class="p-1">
                        <div id="contact-info-card" class="card">
                            <div class="card-header">
                                <h5 id="contact-info-title" class="mb-0 contact-info-title cursor-pointer" (click)="collapseOne = !collapseOne" translate>
                                    contact-info.title.singular
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" [ngClass]="collapseOne ? '' : 'show'">
                                <div class="m-3">
                                    <common-contact-info [setContact]="item"
                                                         (changeForm)="setContacts($event)"></common-contact-info>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-form" [ngClass]="{'d-none': tab !== 'user'}">
                    <div class="card-header-custom" *ngIf="!item.id || (isEditMode && !item.user)">
                        <h3 class="d-flex contact-info-title justify-content-between p-1">
                            {{'people.wish-add-user' | translate}}
                            <div class="form-check form-switch">
                                <input id="checkbox-agreement" class="form-check-input m-0" type="checkbox" (change)="enableOrRemoveUserForm()">
                            </div>
                        </h3>
                    </div>
                    <div *ngIf="createUser" formGroupName="user">
                        <div class="row">
                            <div class="form-group required col-sm-6">
                                <label id="user-username-label"class="control-label" translate>user.username</label>
                                <input id="user-username" type="text" formControlName="username" class="form-control"
                                       [ngClass]="hasError(editForm.get('user').get('username'))"/>
                                <common-control-message
                                    [control]="editForm.get('user').get('username')"></common-control-message>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label" translate>role.title.singular</label>
                                <ng-select id="select-approvers-payroll"
                                           [items]="roles | async"
                                           bindLabel="name"
                                           [multiple]="true"
                                           [loading]="loadingRoles"
                                           [typeahead]="peopleRolesSubject"
                                           [(ngModel)]="peopleRoles"
                                           [ngModelOptions]="{standalone: true}">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-2 mr-1">
                    <common-form-buttons (backButton)="backToList()" [loading]="submitting"
                                         [disabledConditions]="editForm.invalid">
                    </common-form-buttons>
                </div>
            </form>
        </div>
    </div>
</div>
