.custom-width {
    width: 157px;
}

.custom-card-permission {
    flex: inherit !important;
    margin-bottom: .5rem !important;
    margin-top: .5rem !important;
}

.btn-custom-row {
    position: absolute;
    top: 8px;
    right: 5px;
}

.custom-font-size {
    font-size: 16px !important;
}
