.separator {
    margin-top: 5px;
    margin-bottom: 15px;
}

.add-label-content {
    padding-left: 15px;
    padding-right: 15px;
}

.list-labels-content {
    padding-left: 7px;
    padding-right: 7px;
}

.title-popover {
    padding-left: 15px;
    padding-right: 23px;
    padding-top: 15px;
    font-size: 14px;
}